section.container-fluid.container-sec03.d-flex.flex-column.pb-5 
    .d-grid.col-md-7.d-md-block.mx-auto
        .font-custom-w700.display-3.text-white.text-center.d-block.opacity-100.my-5 Напишите нам!
        input.form-control.opacity-50.rounded-0.font-custom-w400(placeholder="Введите ваше имя",required)
        .text-danger.mb-3 Это поле обязательно для заполнения
        input.form-control.opacity-50.rounded-0.font-custom-w400.mb-3(placeholder="Введите ваш телефон")
        textarea.form-control.opacity-50.rounded-0.font-custom-w400.mb-1(placeholder="Введите ваш телефон",rows="4")
        button.btn.btn-dark.btn-lg.rounded-0.mt-5.font-custom-w700.w-100.bg-light.text-dark Отправить сообщение 







