footer.bg-black.d-flex.flex-lg-row.flex-column.text-white.justify-content-around.p-3
    .d-flex.flex-column.justify-content-between.order-3
        .font-custom-w400.fs-5.m-3 info@lightgarland.ru
        .font-custom-w400.fs-6.m-3 Все права защищены 2009-2017 г
    .font-custom-w400.fs-5.order-2.mt-3 г. Москва, Каширское ш., 3, корп. 2, стр. 9
    .d-flex.flex-column.justify-content-around.order-0
        .font-custom-w700.fs-5 +7 (499) 390-74-51
        button.btn.border-white.text-white.rounded-0.p-2 Обратный звонок

