header.header
    nav.navbar.navbar-white.bg-white.navbar-expand-xl
        .container-fluid
            a.navbar-brand.text-warning.font-custom-w900.fs-1(href="../index.html")  Узоры света
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav 
                ul.navbar-nav.mx-auto.font-custom-w400.text-uppercase.fs-3
                    li.nav-item.mx-5
                        a.nav-link.active(aria-current="page", href="../page/services.html") Наши услуги
                    li.nav-item.mx-5
                        a.nav-link.active(href="../page/price.html") Цены
                    li.nav-item.mx-5
                        a.nav-link.active(href="../page/contact.html") Контакты
                span.navbar-text.ms-auto.font-custom-w700.text-dark.fs-3  +7 (499) 390-74-51
