
-
    var values = [{
            nameService: 'Стоимость монтажа световых гирлянд за 1 метр гирлянды',
            price:' от 110 руб.'
        },
        {
            nameService: 'Монтаж плоских гирлянд за 1 метр',
            price:'от 140 руб.'
        },
        {
            nameService: 'Монтаж гибкого неона без направляющей за 1 метр',
            price:'от 130 руб.'
        },
        {
            nameService: 'Монтаж плоских фигур, снежинок, звезд за фигуру',
            price:'от 800 руб.'
        },
        {
            nameService: 'Оформление елок игрушками за игрушку',
            price:'от 130 руб.'
        },
        {
            nameService: 'Освещение деревьев высотой до 3-х метров за 1 метр гирлянды',
            price:'от 130 руб.'
        },
        {
            nameService: 'Освещение деревьев высотой более 3-х метров за 1 метр гирлянды',
            price:'от 130 руб.'
        },
        {
            nameService: 'Укладка уличного кабеля за 1 метр',
            price:'от 130 руб.'
        },
        {
            nameService: 'Установка реле времени 1 реле',
            price:'от 130 руб.'
        }];

-for (var x = 0; x < values.length; x++)
    .row.border-bottom.border-dark.py-3
        .col-md-8.font-custom-w400=values[x].nameService
        .col.font-custom-w600.text-end.text-danger=values[x].price