- 
    var values = [{
        imageName: 'artboard-1.png',
        text:'Оформление деревьев'
    },
    {
        imageName: 'artboard-2.png',
        text:'Новогоднее оформление магазинов и ТЦ'
    },
    {
        imageName: 'artboard-3.png',
        text:'Новогоднее оформление магазинов и ТЦ'
    }];

.row
    -for (var x = 0; x < values.length; x++)
        .col-lg-4.col-xs-12.text-center.mt-5.p-0.border.border-dark
            img.img-fluid(src=require(`../../assets/images/${values[x].imageName}`))
            .text-center.font-custom-w600.fs-5.mt-3=values[x].text  
    