doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Контакты
    body
        include ../includes/header 
        article.container-article.container-fluid.p-0
            .container.d-flex
                .container
                    .h1.font-custom-w700 Наши контакты
                    .font-custom-w400.fs-5 г. Москва, Каширское ш., 3, корп. 2, стр. 9
                    .font-custom-w400.fs-5 info@lightgarland.ru
                    .font-custom-w700.fs-3 +7 (499) 390-74-51
                    .col-6
                        button.btn.btn-lg.rounded-0.mt-5.font-custom-w700.w-100.border.border-dark Обратный звонок
                img.img-fluid.d-none.d-lg-block(src=require('../../assets/images/map.png'))
            include ../includes/contact.pug   
        include ../includes/footer.pug


