doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Цены
    body 
        include ../includes/header 
        article.container-article
            section.d-flex.flex-column.flex-lg-row
                .container.d-grid.col-md-7.p-5
                    .font-custom-w700.h1 Цены на световое оформление
                    include ../includes/price.pug
                .container-discount.container.p-5.d-flex.flex-column.justify-content-center
                    input.form-control.opacity-50.rounded-0.font-custom-w400.my-3(placeholder="Введите ваше имя",required)
                    input.form-control.opacity-50.rounded-0.font-custom-w400.my-3(placeholder="Введите ваше имя",required)
                    button.btn.btn-dark.btn-lg.rounded-0.mt-3.font-custom-w700.bg-light.text-dark.p-3 Получить скидку
            section.d-flex.align-items-center.bg-dark.flex-column.py-5
                .col-8.text-light.font-custom-w400.fs-5 В последнее время все чаще за украшением участков, территорий возле офисов или торговых центров, интерьера жилья или магазина стали обращаться к профессиональным компаниям. Для этого есть множество причин, которые мешают владельцам сделать все самостоятельно. Поэтому всегда можно довериться специалистам, которые готовы создать для вас световое оформление.
                .col-8.text-light.font-custom-w400.fs-5.mt-3 Однако главной проблемой становится цена. Многие боятся полагаться на студии дизайна, потому что ожидают завышенных ценовых характеристик. Однако студия дизайна Light Garland предлагает умеренные расценки, которые придутся по вкусу.
            section.d-flex
                img.img-fluid.d-none.d-lg-block(src=require('../../assets/images/artboard-price.png'))
                .container-fluid.d-flex.flex-column.px-5.py-5
                    .h1.font-custom-w700.mt-5 Что представляет собой новогоднее оформление?
                    .font-custom-w400.fs-5.mt-5 Если раньше к профессионалам, в основном, обращались за помощью владельцы магазинов и ТЦ, то теперь идут заказы от жителей многоквартирных или частных домов, которые самостоятельно не могут украсить участки. Существует несколько вариантов световых украшений, каждый из которых требует определенный монтаж. Новогодняя иллюминация может размещаться на абсолютно разных объектах, важно безопасно ее расположить.
                    .font-custom-w600.fs-4.mt-5 Студия дизайна Light Garland предлагает такие варианты:
                    ul.font-custom-w400.fs-4.mt-4
                        li Красивое оформление деревьев
                        li Украшение фасадов зданий
                        li Внутреннее оформление помещения
            section.d-flex.flex-column.align-items-center.py-5
                .col-8.font-custom-w700.fs-1 Ценовые параметры
                .col-8.font-custom-w400.fs-5 Соответственно, на определенный вариант оформления приходится и своя расценка. Каждая компания всегда указывает свои характеристики и их стоимость. Например, цены на монтаж подсветки фасадов постоянно указывают в первую очередь, чтобы будущий клиент мог просчитать затраты заранее.
                .col-8.font-custom-w400.fs-5.mt-5 Студия дизайна Light Garland стремится сделать расценки максимально демократичными. Но при этом не стремитесь получить самое дешевое, потому что именно на красоте и комфорте экономить не стоит.
                .col-4
                    button.btn.btn-dark.btn-lg.rounded-0.mt-5.font-custom-w700.w-100 Скачать прайc-лист
            include ../includes/contact.pug        
        include ../includes/footer.pug
                    




