doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Услуги
    body
        include ../includes/header
        article.container-article
            section 
                .d-flex.justify-content-center
                    .font-custom-w700.fs-1.mt-3 Наши услуги
                .container-fluid
                    include ../includes/services.pug
                .d-grid.col-md-8.mx-auto
                    .font-custom-w400.fs-5.mt-5 Новогоднее настроение всегда приходит к нам, как только мы видим яркие красочные гирлянды на домах и деревьях, праздничную мишуру в торговых центрах. И чтобы все эти чудные моменты выглядели красиво, вызывали улыбку у случайных прохожих и мечтательный взгляд, доверить новогоднее оформление стоит настоящим профессионалам. Такой компаний является студия дизайна Lightgarland.
                .container-page-services.px-auto.py-5.d-flex.flex-column.align-items-center.mt-5
                    .font-custom-w700.fs-3.text-white Компания может предложить вам следующие работы:
                    ul.text-white.font-custom-w700.fs-3.mt-3
                        li Украшение деревьев
                        li Праздничное оформление торговых центров и магазинов
                        li Красивое оформление коттеджей и домов
                .bg-white
                    .d-grid.col-md-8.mx-auto
                        .font-custom-w700.fs-1.mt-5 Новогодние деревья
                        .font-custom-w400.fs-5 Оформление деревьев яркими светодиодными подсветками украшает темные зимние улицы и создает на них атмосферу тепла. Но оно должно быть сделано профессионально, потому что неправильное украшение просто сольется с окружающими рекламами. И не стоит беспокоиться о пожаробезопасности. Все гирлянды, которые применяются для украшения деревьев, не нагреваются.
                        .font-custom-w700.fs-1.mt-5 Украшение ТЦ и магазинов
                        .font-custom-w400.fs-5 Новогоднее оформление магазинов и ТЦ является обязательной задачей каждого владельца или арендатора. Сказочное украшение поможет привлечь клиентов и выставить свой товар в новом, новогоднем свете. Вы можете оформить полностью интерьер всего помещения или обратить внимание на фасады и витрины. Все зависит от ваших пожеланий.
                        .font-custom-w700.fs-1.mt-5 Новогодние дома и коттеджи
                        .font-custom-w400.fs-5 Новогоднее оформление домов и коттеджей также требует внимания специалистов. Ведь именно в частном доме вы имеете прекрасную возможность создать собственную неповторимую и домашнюю атмосферу. Именно в таком случае вы сможете обратиться к студии дизайна за помощью в оформлении участка, фасада или самого интерьера коттеджа. Самостоятельно не всегда получается или хватает времени, поэтому лучше довериться специалистам.
                        .d-grid.col-md-5.d-md-block.mx-auto.mb-5
                            button.btn.btn-dark.btn-lg.rounded-0.mt-5.font-custom-w700.w-100 Скачать прайc-лист
        include ../includes/footer.pug

                        
                    





            


