doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Узоры света
  body
    include includes/header.pug
    main
      article.container-article
        //Не применяется вертикальное выравнивание
        section.container-fluid.container-sec01.pt-5
          .row
            .col-12.font-custom-w900.text-white.text-uppercase.text-center.display-4 Праздничное освещение для вашего дома
        section.container-fluid.pb-5
          .row
            .col-lg
            .col-lg-6.font-custom-w400.lh-30.fs-5.p-5.mx-auto.text-center Мы поможем украсить ваш дом, коттедж и прилежащую территорию так, что вы не захотите расставаться с праздником. Мы вместе воплотим самые яркие идеи и сделаем ваш дом ослепительно незабываемым.
            .col-lg
          include includes/services.pug
          .d-grid.col-md-5.d-md-block.mx-auto
            button.btn.btn-dark.btn-lg.rounded-0.mt-5.font-custom-w700.w-100 Скачать прайc-лист
        include includes/contact.pug
    include includes/footer.pug







