@import "font";
@import "variables";

@import "~bootstrap/scss/bootstrap.scss";

.font-custom {
    &-w900 {
        font-weight: 900;
        font-family: $font-family-main;
    }
    &-w700 {
        font-weight: 700;
        font-family: $font-family-main;
    }
    &-w600 {
        font-weight: 600;
        font-family: $font-family-main;
    }
    &-w400 {
        font-weight: 400;
        font-family: $font-family-main;
    }
}

.container {
    &-sec01 {
        background-image: url("../assets/images/background-title.png");
        background-size: cover;
        height: calc(100vh - 56px);
    }
    &-article {
        background-color: #e3e3e3;
    }
    &-page-services {
        background-image: url("../assets/images/background-page-service.png");
    }
    &-sec03 {
        background-image: url("../assets/images/background-contact.jpg");
    }
    &-discount {
        background-image: url("../assets/images/background-discount.jpg");
    }
}
